<div class="container">
<ul class="nav mt-5">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="https://awelvor.github.io/nicolas/index.html">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://awelvor.github.io/nicolas/accordion.html">Accordion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
  </li>
</ul>
<nav class="wrapper">
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}">{{ item.name }}</a>
  {% endfor %}
</nav>

</div>
